{% extends 'base.html.twig' %}

{% block body_header_text %}
    Products list
{% endblock %}

{% block body_header_actions %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <a href="{{ path('admin_new_product') }}" class="btn btn-primary float-right add-product">
            <i class="fa fa-plus"></i>
            Add new product
        </a>
    {% endif %}
{% endblock %}

{% block body %}
    <div class="count">
        Total count: {{ pagination.getTotalItemCount() }}
    </div>
    <table class="table table-striped products">
        <thead>
            <tr>
                <td>{{ knp_pagination_sortable(pagination, 'Id', 'p.id') }}</td>
                <td>{{ knp_pagination_sortable(pagination, 'Name', 'p.name') }}</td>
                <td>{{ knp_pagination_sortable(pagination, 'Price', 'p.price') }}</td>
                <td>{{ knp_pagination_sortable(pagination, 'Description', 'p.description') }}</td>
            </tr>
        </thead>
        <tbody>
            {% for product in pagination %}
                <tr>
                    <td>{{ product.id }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.price|price(product.priceCurrency) }}</td>
                    <td>{{ product.description|nl2br }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div>
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}